# macOS
.DS_Store

# Xcode build output
build/
DerivedData/
*.xcodeproj/-Xcc/

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods / Carthage (if ever used)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# ASO working files
sim-screenshots/
screenshots/
